/* 1. Deixamos APENAS a importação da Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin:0;
  padding:0;
  /* 2. Esta linha aplica a nova fonte para o site inteiro! */
  font-family: 'Montserrat', sans-serif;
}

.background-preto {
  background-color: #121212;
}

.background-branco {
  background-color: #ffffff;
}